@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome to my mission 3 web app";
}

<!--Preferred Name-->
<h1>Dallan Hernandez</h1>

<!--Image of me right before I go and play ultimate frisbee-->
<img style="height: 400px; width: 300px;" src="img/Dallan.jpeg" />

<!--Paragraph describing what I want to get out of this semester-->
<p>
    There are many things that I want to get out of this class during the semester. However, here are my top three: first, I want to gain a
    deeper understanding of creating web applications using the ASP.NET MVC Framework. Second, I want to become familiar with C#. Finally,
    I want to be able to interact with APIs on a basic level.
</p>
<br />

<!--List of my top 3 wanted jobs after graduation-->
<h3>Most wanted Jobs</h3>
<ol>
    <li>Full Stack Developer</li>
    <li>Front End Developer</li>
    <li>Database Administrator</li>
</ol>
<br />


<!--Connecting my js bootstrap library-->
    
<script src="js/grade.js"></script>
